<div class="d-flex flex-column align-items-center position-relative">
  <!-- [style]="relativeOffset || nodeData.position" -->
  <div [class]="numberToString(level)" class="organization__node m-x-10" #node>
    <div
      class="organization__name text-ellipsis-2"
      [title]="nodeData.name"
      (mousedown)="$event.stopPropagation()"
    >
      {{ nodeData.name }}
    </div>
    <!-- Thông tin người quản lý -->
    <div class="d-flex justify-content-between m-t-10">
      <div class="organization__managers">
        <div
          *ngIf="nodeData.managers.length == 1"
          class="organization__manager-single d-flex align-items-center"
        >
          <div class="organization__manager-avatar m-r-8 d-flex">
            <img
              [src]="nodeData.managers && nodeData.managers[0].avatar"
              [alt]="nodeData.managers[0].name"
            />
          </div>
          <div
            class="organization__manager-name"
            [title]="nodeData.managers[0].name"
            (mousedown)="$event.stopPropagation()"
          >
            {{ nodeData.managers[0].name }}
          </div>
        </div>
        <!-- <div>{{ convertUnit | json }}</div>
        <div>{{ nodeData.position | json }}</div> -->
        <div
          *ngIf="nodeData.managers.length > 1"
          class="organization__manager-multi d-flex"
        >
          <div class="d-flex" *ngIf="nodeData.managers.length <= 4">
            <div
              *ngFor="let manager of nodeData.managers"
              class="organization__manager-item d-flex"
            >
              <img
                draggable="false"
                [src]="manager.avatar"
                [alt]="manager.name"
                [title]="manager.name"
              />
            </div>
          </div>
          <div class="d-flex" *ngIf="nodeData.managers.length > 4">
            <div
              *ngFor="let number of [0, 1, 2]"
              class="organization__manager-item d-flex"
            >
              <img
                draggable="false"
                [src]="nodeData.managers[number].avatar"
                [alt]="nodeData.managers[number].name"
                [title]="nodeData.managers[number].name"
              />
            </div>
            <div
              class="
                organization__manager-item
                d-flex
                flex-center
                more
                position-relative
              "
              (mouseenter)="mouseenterMore($event)"
              (mouseleave)="mouseleaveMore($event)"
              [style.z-index]="100 - level"
            >
              <div class="d-flex flex-center">+</div>
              {{ nodeData.managers.length - 3 }}
            </div>
          </div>
        </div>
      </div>
      <!-- Số lượng nhánh con -->
      <div
        *ngIf="nodeData.children && nodeData.children.length"
        class="organization__amountchild"
      >
        {{ nodeData.children ? nodeData.children.length : 0 }}
        <i class="fa-solid fa-network-wired"></i>
      </div>
    </div>
    <!-- Nút extend/collapse nhánh -->
    <div
      class="organization__togglechild position-absolute d-flex flex-center"
      [class.plus]="!nodeData.extend"
      [class.minus]="nodeData.extend"
      (click)="toggleCollapse()"
      *ngIf="nodeData.children && nodeData.children.length"
    >
      <i *ngIf="!nodeData.extend" class="fa-solid fa-plus"></i>
      <i *ngIf="nodeData.extend" class="fa-solid fa-minus"></i>
    </div>
    <div *ngIf="level != 1" class="organization__line-top"></div>
    <div
      *ngIf="nodeData.children && nodeData.children.length && nodeData.extend"
      class="organization__line-bottom"
    ></div>
  </div>
  <!-- Các nhánh con -->
  <!-- [style.opacity]="nodeData.extend ? 1 : 0" -->
  <!-- [style.max-width]="nodeData.extend ? 'unset' : 0"
    [style.max-height]="nodeData.extend ? 'unset' : 0" -->
  <div class="organization__children position-relative d-flex m-t-40">
    <!-- Ẩn đường thừa -->
    <div
      *ngIf="(first || last) && nodeData.extend"
      class="organization__hidden-line position-absolute"
      [style]="styleHiddenLine"
      [class.first]="first"
      [class.last]="last"
    ></div>
    <div [style.display]="nodeData.extend ? 'flex' : 'none !important'">
      <div *ngFor="let child of nodeData.children; let i = index">
        <app-organization-node
          [rootData]="rootData"
          [nodeData]="child"
          [level]="level + 1"
          [first]="i == 0"
          [last]="i == nodeData.children.length - 1"
          [siblings]="nodeData.children"
          [index]="i"
        ></app-organization-node>
      </div>
    </div>
  </div>
</div>
