<div class="d-flex flex-column align-items-center">
  <div [class]="numberToString(level)" class="organization__node m-x-10">
    <div class="organization__name text-ellipsis-2" [title]="nodeData.name">
      {{ nodeData.name }}
    </div>
    <!-- Thông tin người quản lý -->
    <div class="d-flex justify-content-between m-t-10">
      <div class="organization__managers">
        <div
          *ngIf="nodeData.managers.length == 1"
          class="organization__manager-single"
        >
          <div
            class="organization__manager-name"
            [title]="nodeData.managers[0].name"
          >
            {{ nodeData.managers[0].name }}
          </div>
        </div>
        <div
          *ngIf="nodeData.managers.length > 1"
          class="organization__manager-multi"
        ></div>
      </div>
      <!-- Số lượng nhánh con -->
      <div
        *ngIf="nodeData.children && nodeData.children.length"
        class="organization__amountchild"
      >
        {{ nodeData.children ? nodeData.children.length : 0 }}
        <i class="fa-solid fa-network-wired"></i>
      </div>
    </div>
    <!-- Nút extend/collapse nhánh -->
    <div
      class="
        organization__togglechild
        position-absolute
        d-flex
        align-items-center
        justify-content-center
      "
      [class.plus]="nodeData.collapse"
      [class.minus]="!nodeData.collapse"
      (click)="nodeData.collapse = !nodeData.collapse"
      *ngIf="nodeData.children && nodeData.children.length"
    >
      <i *ngIf="nodeData.collapse" class="fa-solid fa-plus"></i>
      <i *ngIf="!nodeData.collapse" class="fa-solid fa-minus"></i>
    </div>
    <div *ngIf="level != 1" class="organization__line-top"></div>
    <div
      *ngIf="
        nodeData.children && nodeData.children.length && !nodeData.collapse
      "
      class="organization__line-bottom"
    ></div>
  </div>
  <!-- Các nhánh con -->
  <div
    [style.height]="!nodeData.collapse ? 'unset' : 0"
    [style.width]="!nodeData.collapse ? 'unset' : 0"
    [style.opacity]="!nodeData.collapse ? 1 : 0"
    class="organization__children position-relative d-flex m-t-40"
  >
    <!-- Ẩn đường thừa -->
    <div
      *ngIf="first || last"
      class="organization__hidden-line position-absolute"
      [class.first]="first"
      [class.last]="last"
    ></div>
    <div *ngFor="let child of nodeData.children; let i = index">
      <app-organization-node
        [nodeData]="child"
        [level]="level + 1"
        [first]="i == 0"
        [last]="i == nodeData.children.length - 1"
        [siblings]="nodeData.children"
        [index]="i"
      ></app-organization-node>
    </div>
  </div>
</div>
