.organization-diagram {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  overflow: auto;
  .organization {
    // left: 50%;
    // top: 10px;
    // transform: translateX(-50%);
  }
}
