<div class="w-100 h-100 d-flex flex-column">
  <h1 style="color: #fff" class="m-x-10 m-y-10">Organization Chart</h1>
  <div
    (mousedown)="mousedown($event)"
    class="organization-diagram position-relative flex-grow-1 m-b-20 m-x-30"
  >
    <div class="organization__control position-absolute">
      <div class="organization__zoom">
        <div class="organization__zoom-slide">
          <input
            type="range"
            min="1"
            max="100"
            [(ngModel)]="zoomPercent"
            class="slider"
            id="myRange"
          />
        </div>
        <div class="organization__zoom-percent"></div>
      </div>
    </div>
    <div
      class="
        organization
        position-absolute
        d-flex
        flex-column
        align-items-center
      "
      #draggable
    >
      <app-organization-node
        [nodeData]="organizationData"
      ></app-organization-node>
    </div>
  </div>
</div>
