<div class="w-100 h-100 d-flex flex-column">
  <h1 style="color: #fff" class="m-x-10 m-y-10">Organization Chart</h1>
  <div class="organization-diagram position-relative flex-grow-1 m-b-20 m-x-30">
    <div class="organization__control position-absolute"></div>
    <div
      class="
        organization
        position-absolute
        d-flex
        flex-column
        align-items-center
      "
    >
      <app-organization-node
        [nodeData]="organizationData"
      ></app-organization-node>
    </div>
  </div>
</div>
