<div #wrapper class="w-100 h-100 d-flex flex-column">
  <h1 style="color: #fff" class="m-x-10 m-y-10">Organization Chart</h1>
  <div
    (mousedown)="mousedown($event)"
    (wheel)="scroll($event)"
    class="organization-diagram position-relative flex-grow-1 m-b-20 m-x-30"
  >
    <div
      class="organization__control position-absolute"
      (mousedown)="$event.stopPropagation(); mousedownControl($event)"
    >
      <div class="organization__zoom d-flex p-y-4 p-x-10 align-items-center">
        <div class="organization__zoom-slide">
          <input
            type="range"
            min="5"
            max="100"
            [value]="zoomPercent"
            (input)="changePercent($event)"
            class="d-flex flex-grow-1 m-r-10"
            id="myRange"
          />
        </div>
        <div class="organization__zoom-percent">{{ zoomPercent + '%' }}</div>
      </div>
    </div>
    <div
      class="
        organization
        position-absolute
        d-flex
        flex-column
        align-items-center
      "
      #draggable
    >
      <app-organization-node
        [nodeData]="organizationData"
      ></app-organization-node>
    </div>
  </div>
</div>
